<h3>Add Chirp</h3>
<form action='/chirps' method='POST' class='form-group border p-4 shadow bg-white'>
    <div class='input-field'> 
        <label htmlFor='content' for='content' class='mt-4 font-weight-bold'>Content</label>
        <textarea rows='6' id='content' name='content' class='form-control my-1 bg-light'></textarea>
    </div>
    <div class='input-field'>
        <label htmlFor='location' for='location' class='font-weight-bold'>Location</label>
        <input id='location' name='location' type='text' class='form-control bg-light' />
    </div>
    <input type='submit' class='btn btn-success mt-4 font-weight-bold' />
</form>