<form class='form-group border shadow bg-white font-weight-bold p-4'>
    <h4 class='mb-2 text-center'>Login</h4>
    <div class='d-flex flex-column'>
        <a href='/auth/google' class='btn btn-warning btn-shadow mt-3'>
            <i class='fab fa-google'></i>Log in with Google</a>
        <a href='/auth/facebook' class='btn btn-warning btn-shadow mt-3'>
            <i class='fab fa-facebook'></i>Log in with Facebook</a>
        <a href='/auth/twitter' class='btn btn-warning btn-shadow mt-3'>
            <i class='fab fa-twitter'></i>Log in with Twitter</a>
    </div>
</form>