<nav class='nav justify-content-center p-3 mb-2 shadow bg-primary'>
    <a class='btn mx-3 py-2 font-weight-bold text-white text-uppercase' href='/auth/login'>Login</a>
    <a class='btn mx-3 py-2 font-weight-bold text-white text-uppercase' href='/auth/logout'>Logout</a>
    <a class='btn mx-3 py-2 font-weight-bold text-white text-uppercase' href='/'>Home</a>
    <a class='btn mx-3 py-2 font-weight-bold text-white text-uppercase' href='/chirps/add'>New Chirp</a>
    <a class='btn mx-3 py-2 font-weight-bold text-white text-uppercase' href='/dashboard'>Dashboard</a>
</nav>